
.container {
    background-image: url('../img/bg.png');
    width: 60.6%;
    height: 875px;
    margin-left: 19.7%;
    font-family: tahoma;
}
.main {
  margin-left: 7%;
  margin-top: 1%;
}
.first_line, .second_line {
  display: inline-block;
  width: 30%;
}
.first_line:nth-child(2) {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.second_line:nth-child(2) {
  margin-left: 0.5%;
  margin-right: 0.5%;
}
.first_text, .second_text {
    color: white;
    display: inline-block;
    width: 30%;
    text-align: center;
}
.second {
   margin-top: 5%;
}
header {
  height: 22%;
  color: white;
}
header img {
  margin-top: 7%;
}
.logo {
  display: inline;
}
