body {
  background-image: linear-gradient(to top, #7b824f, #c4d8df);

}
.wrapper {
  font-family: tahoma, sans-serif;
  width: 75%;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 17px 8px rgba(160, 142, 94, 1);
  -moz-box-shadow: 0px 0px 17px 8px rgba(160, 142, 94, 1);
  box-shadow: 0px 0px 17px 8px rgba(160, 142, 94, 1);

}
.main {
  background-image: url('../img/bgr.png');
  height: 900px;
  background-repeat: no-repeat;
  position: relative;

}
.header {
  background-image: url('../img/bghead.png');
  font-size: 14px;
  height: 35px;
}
.menu a {
  text-decoration: none;
  color: #58aae2;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  line-height: 35px;
}
.login {
  padding-top: 10.5px;
  margin-right: 25px;
  padding-left: 10px;
  padding-right: 10px;
    background-image: linear-gradient(to top, #2e7ac4, #50afdc);
    border: 1px solid #50afdc;
}
.flag {
  color: white;
  text-decoration: none;
  padding-right: 20px;
  text-align: center;;

}
.login, .login a {
  color: white;
}
.login, .flag, .menu {
  float: right;
  height: 100%;
}
.clearfix:after {
  content: '';
  clear: both;
  display: block;
}
.menu li {
  float: left;
}
.menu a:hover {
  background-color: #4eabda;
  color: white;
  font-weight: 500;
}
.flag>img {
  padding-top: 2px;
  padding-right: 15px;
}
.flag a, .flag img {
  display: block;
  float: left;
}
.flag a {
  padding-top: 5px;
}
.flag p {
  padding-left: 50px;
  padding-top: 10.5px;


}
.form {
  width: 45%;
  height: 68%;
  background: rgba(0, 0, 0, 0.64);
  overflow: auto;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;

}
.ou {
  color: #999999;
}
.input {
  background-color: #0f0e0e;
  border: 0;
  border-bottom: 1px solid #484948;
  width: 256px;
  height: 35px;
  margin-top: 16px;
  padding-left: 20px;
  font-family: times;
  display: block;
}
.form p {
  text-align: center;
  font-size: 24px;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}
hr {
  margin-bottom: 30px;
}
.form a {
  display: block;
  margin-bottom: 30px;
  text-align: center;
}
.form div {
  margin-bottom: 30px;
  text-align: center;
}
/*input[name='firstname']*/
