$font: 'Open Sans', sans-serif;
$body__bg: #eee;
$bgc: #22A38B;
$menu_bgc: #ab9;
$color-hover: #8a3c58;
$border-color: #fff;
$tablet-width: 768px;
$desktop-width: 1024px;
$bg-button: #ab9;
$font_color: white;
