* {margin: 0;
padding: 0;}

body {
  background-color: #282828;
}

table {
  width:500px;
  height: 541px;
  margin: 0 auto;
  border-collapse: collapse;;
  background-color: white;
}
tbody {
  border-style:hidden;;
}
td, th {
  border: 10px solid #3a3b35;
}

.red {
  background-image: url('red.png');
}
.yellow {
  background-image: url('yellow.png');
}
.black {
  background-image: url('black.png');
}
.blue {
  background-image: url('blue.png');
}
.bord1 {
  border-right: 10px solid transparent;
}
.lastrow {
  height: 40px;
}
.row8 {
  height: 40px;
}
.lastcol {
  width: 10px;
}
.row1 {
  height: 60px;
}
