html {
  overflow-y: scroll;

}
.flexslider{
  overflow: hidden;
}
@media (min-width: 960px) {
  .container {
    width:970px !important;
  }
  .flexslider{
    margin-right: 0px!important;
  }
  .header__item-logo {
    margin-right: 450px!important;
  }
  .slides__red {
    letter-spacing: 0!important;
  }
}
@media (min-width: 768px) {
  .flexslider{
    margin-right: 10px!important;
  }

}
